@import "tailwindcss";
@import "@heroui/styles";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --heroui-content1: 240 5.88% 10%;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.autocomplete .autocomplete__trigger {
  padding: 0px !important;
  align-items: center;
  min-width: 90%;
  max-width: 100%;
}

.autocomplete .autocomplete__trigger .search-airport-name {
  display: none;
}

.autocomplete .autocomplete__trigger .display-airport-name {
  display: block !important;
}

.autocomplete .autocomplete__trigger div {
  padding: 0px !important;
}

.autocomplete .autocomplete__trigger .single-line-trim {
  color: green;
  white-space: nowrap;
  /* Keeps text on one line */
  overflow: hidden;
  /* Hides the text that overflows */
  text-overflow: ellipsis;
  /* Adds the '...' */
  width: 215px;
  /* max-width: 100%; */
}

.tabs__list-container .tabs__tab .tabs__indicator {
  background: #fbbf24 !important;
}

.custom-datepicker:focus {
  outline: none !important;
  box-shadow: none !important;
  /* border: solid 2px #a855f7 !important;  */
}